@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  color-scheme: dark;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #1e1e1e;
  color: #ddd;
}
